@import "tailwindcss";

@theme {
  --font-sans: Geist, sans-serif;
  --color-primary: #f4f5ef;
  --color-secondary: #161614;
}

* {
  font-variant-numeric: tabular-nums;
}

::selection {
  background-color: #161614;
  color: #f4f5ef;
}

@font-face {
  font-family: 'Departure Mono';
  src: url('/fonts/DepartureMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}